* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f3ef;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  
}

.logo-icon {
  width: 70px;
  height: 70px;
  border-radius: 60%;
  margin-right: 2px;
  background: url(/img/iconelogo.png)center/cover;
}

.logo-text span {
  font-size: 18px;
  text-shadow: none;
}

.logo-text strong {
  display: block;
  font-size: 20px;
  color: #2e7d32;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.btn-whats {
  background: #2e7d32;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  
  
}
.btn-whats #iconelogo{
  width: 25px ;
  margin-bottom: -5px;
  margin-right: 5px;
  margin-top: -4px;
  

}


/* BANNER */
.banner {
  background: url('../img/logo1.png') center/cover;
  
  height: 350px;
  display: flex;
  align-items: center;
  padding: 40px;
  color: rgb(255, 255, 255);


}
.header .logo a {
  text-decoration: none;
}

.banner h1 {
  font-size: 40px;
text-shadow: 5px 5px 10px black;

}
.banner .banner-content p{
  text-shadow: 5px 5px 10px black;
  
  
}

.banner button {
  margin-top: 5px;
  background: #2e7d32;
  color: white;
  padding: 10px 10px;
  border-radius: 8px;

  
}

/* BUSCA */
.busca {
  padding: 20px;
  text-align: center;
}

.busca input {
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.filtros  {

  text-align: center;
  
}

.filtros #ativo {
  background: #2e7d32;
  color: white;
  padding: 5px;
  margin: 2px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
}
.filtros #ativo2{
  background: rgb(241, 164, 101);
  color: rgb(97, 54, 19);
   padding: 5px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.filtros #ativo3{
  background: #73c0f3;
  color: rgb(0, 102, 236);
   padding: 5px;
  margin: 2px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
}

/* DESTAQUES*/


.destaques .topo {
  text-align: center;
}



/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.cards h3{
margin: 5px;

}
.card {
  width: 250px;
  background: white;
  margin: 15px;
  padding: 1px;
  border-radius: 10px;
  border: 1px solid #929292;
  
}
 .card p {
  margin: 5px 5px 5px;
  
}

.acoes {
  display: flex;
  gap: 10px;
 justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  background: #636262;
  color: white;
  font-size: 14px;
}

/* Botão WhatsApp */
.whatsapp {
  background: #2e7d32;
}

/* Ícone do WhatsApp */
.whatsapp img {
  width: 16px;
  height: 16px;
}


.card .imgdetalhe{
  width: 15px;
  margin: 2px 2px 2px 2px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.tag {
  background: green;
  color: white;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  
}

.restaurante {
  background: orange;
}

/* MAPA */
.mapa {
  display: flex;
  padding: 40px;
  background: #e8efe6;
}

.mapa-img {
  flex: 1;
  height: 200px;
  background: #cfe3cd;
  border-radius: 10px;
}

/* TURISMO */
.turismo-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

/* FOOTER */
footer {
  background: #1b5e20;
  color: white;
  padding: 30px;
}

/* MOBILE */
@media(max-width: 480px) {

  .menu {
    display: none;
    
  
  }
  
.acoes a {
    font-size: 12px;
    padding: 6px 8px;
    
  }
  .banner {
    height: 250px;
    padding: 20px;
  
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .mapa {
    flex-direction: column;
  }

  .turismo-grid {
    grid-template-columns: fr;
  }
.nota {color: #1b5e20;

}
}