* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #d4ebd4ad;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  
  
}

.logo-icon {
  width: 70px;
  height: 70px;
  border-radius: 60%;
  margin-right: 2px;
  background: url(../img/iconelogo.png)center/cover;
  
}

.logo-text span {
  font-size: 18px;
  text-shadow: none;
}

.logo-text strong {
  display: block;
  font-size: 20px;
  color: #2e7d32;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.btn-whats {
  background: #2e7d32;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  
  
}
.btn-whats #iconelogo{
  width: 25px ;
  margin-bottom: -5px;
  margin-right: 5px;
  margin-top: -4px;
  

}


/* BANNER */
.banner {
  background: url('../img/logo1.png') center/cover;
  
  height: 350px;
  display: flex;
  align-items: center;
  padding: 40px;
  color: rgb(255, 255, 255);


}
.header .logo a {
  text-decoration: none;
}

.banner h1 {
  font-size: 40px;
  text-align: start;
  text-shadow: 5px 5px 5px  #080808f3;


}
.banner  p{
  text-shadow: 5px 5px 5px  #080808f3;
  
  
}

.banner button {
  margin-top: 5px;
  background: #2e7d32;
  color: white;
  padding: 10px 10px;
  border-radius: 8px;

  
}

/* BUSCA */
.busca {
  padding: 20px;
  text-align: center;
}

.busca input {
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.filtros  {

  text-align: center;
  
  
}

.filtros #ativo {
  background: #2e7d32d2;
  color: white;
  padding: 5px;
  margin: 2px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
}
.filtros #ativo2{
  background: rgba(241, 164, 101, 0.562);
  color: rgb(97, 54, 19);
   padding: 5px;
  margin: 2px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  
}

.filtros #ativo3{
  background: #30a2eec0;
  color: rgba(14, 64, 129, 0.911);
   padding: 5px;
  margin: 2px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
}

/* DESTAQUES*/


.destaques .topo {
  text-align: center;
  color: #181818f6;
}
.destaques h2{
  text-shadow: 2px 2px 2px #33333365;
}




/* CARDS */
.cards {
  display: flex;
  flex-wrap: nowrap; /* NÃO quebra linha */
  overflow-x: auto; /* ativa scroll lateral */
  gap: 15px;
  padding: 15px; 
  scroll-snap-type: x mandatory;
  

}
.cards::-webkit-scrollbar {
  display: none;
}

.cards h3{
margin: 5px;

}
.card {
  min-width: 250px;
  background: white;
  flex-shrink: 10;
  margin: 15px;
  padding: 1px;
  border-radius: 10px;
  border: 1px solid #929292;
  scroll-snap-align: start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.548);
}


 .card p {
  margin: 5px 5px 5px;
  
}

.acoes {
  display: flex;
  gap: 10px;
 justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  background: #636262;
  color: white;
  font-size: 14px;
}

/* Botão WhatsApp */
.whatsapp {
  background: #2e7d32;
}

/* Ícone do WhatsApp */
.whatsapp img {
  width: 16px;
  height: 16px;
}


.card .imgdetalhe{
  width: 15px;
  margin: 2px 2px 2px 2px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  
}

.tag {
  background: green;
  color: white;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  
}

.restaurante {
  background: orange;
}

/* MAPA */
.mapa {
  display: flex;
  padding: 40px;
  background: #e8efe6;
  
}

.mapa img{
  width: 125px;
  text-align: center;
}
.mapa h2{
  text-align: center;
  text-shadow:10px 10px 1px 10px #353835;
  margin-bottom: 30px; 
}
.mapa iframe{
  box-shadow: 2px 5px 5px 2px #3333334d
}
/* TURISMO */
.turismo-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

/* FOOTER */
footer {
  background: #1b5e20;
  color: white;
  padding: 30px;
}

/* MOBILE */
@media(max-width: 480px) {

  .menu {
    display: none;
    
  
  }
  
.acoes a {
    font-size: 12px;
    padding: 6px 8px;
    
  }
  .banner {
    height: 250px;
    padding: 20px;
  
  }
.cards::-webkit-scrollbar {
  display: none;
}
  

  .mapa {
    flex-direction: column;
  }

  .turismo-grid {
    grid-template-columns: fr;
  }
.nota {color: #1b5e20;

}
}